* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html, body {
    height: 100%;
    width: 100%;
    background-color: #f4f4f4;
}

#main {
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    overflow: auto;
}

#search {
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    padding: 0 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#search h1 {
    font-size: 3rem;
    color: #333;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1em;
    background-color: #000000;
    padding: 10px 20px;
    border-radius: 20px;
    margin-top: 20px;
}

a:hover {
    background-color: #3d3d3d;
}

#result {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-items: center;
    padding: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card {
    height: 400px;
    width: 300px;
    display: grid;
    grid-template-rows: auto auto 0.5fr auto;
    align-items: center;
    justify-items: left;
    border: 2px solid #6a6a6a;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.card img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #d3d3d3;
    object-fit: cover;
    justify-self: center;
    margin-bottom: 20px;
}

.card h2 {
    font-size: 1.5rem;
    color: #333;
}

.card h3 {
    font-size: 1.2rem;
    color: #3d3d3d;
    text-align: left;
}

.card .details {
    display: flex;
    gap: 10px;
    align-items: center;
}
